#custom-header {
    background-color:#5db1bd;
    text-align: center;
    color: #fff;
    padding: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
h1 {
    font-weight: bold;
}
#form-container{
    padding: 15px;
}
.card-bottom {
    margin-bottom: 20px;
}
#custom-footer{
    background-color:#5db1bd;
    text-align: center;
    padding: 10px;
}
a{
    color: floralwhite;
}